@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	min-width: 900px;
	margin: 0 auto;
}
header {
    height: 740px;
	background: url("../img/apples.jpg") center;
	color: #FFF;
}
header nav a{
	text-decoration: none;
	color: #FFF;
	margin-right: 70px;
}
.button a:hover {
	background: #A4A4A4;
}
.button a:active {
	padding: 20px 100px;
	background: #244;
}
.nav {
	display: flex;
	justify-content: space-between;
	padding: 50px 0 50px 60px;
}
.nav p {
	text-transform: uppercase;
}
.nav .label:hover {
	color: #ff0000;
	font-size: 1em;
}
.nav a{
	text-decoration: none;
	color: #FFF;
}
.nav a:hover {
	background: #991;
	padding: 10px;
}
.title {
	margin-top: 120px;
	margin-bottom: 140px;
	text-align: center; 
}
.title h1 {
	letter-spacing: 5px;
	text-transform: uppercase;
	font-size: 3em;
	font-weight: normal;
	margin-bottom: 10px;
}
.title h1 span {
	font-size: 2em;
}
.button {
	text-align: center;
	margin: 0 auto;
}
.button a {
	text-decoration: none;
	color: #FFF;
	background: rgba(0,0,0,0.5);
	padding: 15px 75px;
	border: 2px solid #FFF;
}
.first {
	background: #FFF;
}
.parag {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 100px 30px;
}
.parag h2 {
	width: 50%;
	font-size: 1.3em;
}
p.text {
	width: 50%;
}
.second {
	background: #F3F3F3;
	padding: 100px 0 40px;
}
.h2read{
	line-height: 1.4;
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 50px;
}
article {
	display: inline-flex;
	align-items: center;
	margin: 20px;
}
article button:hover {
	background: #FFC0CB;
	border: 2px solid #229;
}
.image {
    position: relative;
    width: 60%;
}
.img::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 150px 10px rgba(0, 0, 0, 0.7); 
}
.image img {
	width: 100%;
	height: 100%;
}
button {
	color: #FFF;
	padding: 5px 10px;
	top: 20px;
	right: 20px;
	position: absolute;
	border: 2px solid #FFF;
	background: rgba(0,0,0,0.5);
}
article h3 {
	color: #FFF;
	bottom: 20px;
	left: 20px;
	font-weight: normal;
	position: absolute;
}
article:nth-child(even) {
	flex-direction: row-reverse;
}
.second article p {
	width: 40%;
	text-align: center;
	font-size: 0.9em;
	margin: 10px;
}
h2 {
	font-weight: normal;
}
.subs_form {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 30px 20px;
	background: #FFF;
	padding: 40px 20px;
}
form {
	display: flex;
	flex-grow: 1;
}
input[type="submit"] {
	background: #000;
	color: #FFF;
	padding: 15px;
	border: none;
}
input[type="email"] {
	background: #F3F3F3;
	margin-left: 10px;
	padding: 10px;
	display: flex;
	flex-grow: 1;
	border: 1px solid #000;
}
::placeholder {
	color: #000;
}
.about {
	display: flex;
	justify-content: space-around;
	padding: 80px 0;
	border-bottom: 2px solid #F3F3F3;
}
.tweet {
	font-style: italic;
}
.info, .contact, .tweet, .newsl {
	width: 20%;
}
footer input[type="submit"], footer input[type="email"] {
 padding: 5px;
 font-size: 0.9em;
 margin: 0;
 margin-top: 5px;
}
footer input[type="submit"] {
	 width: auto;
}
input[type="submit"]:active {
	background: #551;
}
footer input[type="email"] {
	width: auto;
	overflow: hidden;
}
footer {
	font-size: 0.9em;
}
footer h4 {
	font-size: 1.2em;
	margin-bottom: 10px;
}
footer nav a{
	text-decoration: none;
	color: #000;
	margin-left: 10px;
}
footer nav a:hover {
	background: #991;
	padding: 10px;
}
.about p, footer span, a{
	color: #9E9E9E;
	text-decoration: none;
}
p.time {
	font-size: 0.8em;
	color: #E8E8E8;
}
.footer-nav {
	display: flex;
	justify-content: space-between;
	margin: 10px 30px;
}