$Font_Style: 'Palatino Linotype', serif;
$Border_Paragr_Color: #cfd8dc;
$Border2B: 2px solid $Border_Paragr_Color;
$SColor: #fc5830;
$R_Align: right;
$Back_Color: #efefef;
$Article_Color: #ffffff;
$P_Descp_Color: #bdbdbd;
$H3_Art_Color: #617d8a;
$P_Color: #757575;
$A_Hover: #1fbcd3;