$Font_Style: Helvetica, sans-serif;
$Border_Paragr_Color: #617d8a;
$Border2B: 2px solid $Border_Paragr_Color;
$SColor: #1fbcd3;
$R_Align: right;
$Back_Color: #ffffff;
$Article_Color: #efefef;
$P_Descp_Color: #159587;
$H3_Art_Color: #1697a6;
$P_Color: $Border_Paragr_Color;
$A_Hover: #fc5830;